
@import 'vars';

// GLOBAL STYLES ------------------------------

* {
  margin: 0;
  padding: 0;
}

// HEADER SET ------------------------------
// feel free to adjust this as needed ^-^

h2 {
  font-size: 2.5rem;
  @extend %lora-font-default;
}


// MIXINS AND EXTENDS ------------------------------

@mixin button($color: $grey, $bg-color: $white) {
  color: $color;
  height: 45px;
  font-size: 1.4rem;
  padding: 2px 30px 0 30px;
  background: $bg-color;
  border: 2px solid $color;
  border-radius: 75px;
  cursor: pointer;
  @extend %nunito-font-default;
}

%lora-font-default {
  font-weight: 400;
  font-family: 'Lora', serif;
}

%nunito-font-default {
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}

// INDEX PAGE SASS ------------------------------
// put ur stuff here i guess! reorganise the css if u wanna im just laying it out how i'm used to LOL

// INDEX PAGE SASS ENDS ------------------------------

// USER PAGE SASS ------------------------------

.user-display {
  h2 {
    text-align: center;
    margin: 30px 15% 0 0;
  }
}

.user-pfp {
  margin-top: 45%;
}

.user-options {
  div {
    margin-left: 24%;
    display: inline;
  }

  button {
    margin: 60px 0 0 30px;
  }
}

#editUserModal {
  margin-top: 10%;
}

.form-group {
  padding: 20px 0 20px 0;
}

.modal-footer {

  button {
    margin: 20px 0 20px 0;
  }

  .ghost-btn {
    margin-right: 30px;
  }
}

// BUTTONS ------------------------------

.ghost-btn {
  @include button;
}

.cta-btn {
  @include button($white, $grey);
}

.pf-btn {
  height: 25px;
  font-size: 1rem;
  padding: 0px 10px 0 10px;
}

.add-btn {
  position: fixed;
  top: 90%;
  right: 10%;
  height: 20px;
  width: 20px;
  padding: 30px;
  border-radius: 75px;
  color: $white;
  background-color: $grey;
  border-color: 2px solid $grey;

  p {
    font-size: 50px;
    margin-top: -42px;
    margin-left: -15px;
  }
}

// USER PAGE SASS ENDS ------------------------------
// PORTFOLIO PAGE SASS  ------------------------------

.portfolio-item {
  margin: 10px 0 10px 0;

  a {
    text-decoration: none;
  }
}

.data-name,
.data-author,
.data-imgurl,
.data-url {
  display: none;
}

#allItems {
  padding-bottom: 100px;
}

.item-text {
  color: $dark;
  text-align: center;
  padding: 5px 0 0 0;
  border-bottom: 2px solid rgba(#b6b6b6, 0.5);
  @extend %nunito-font-default;

  .pf-btn {
    margin-bottom: 10px;
  }
}

.item-preview {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 10px solid white;
}

.footer {
  margin: 50px 0 80px 0;
}

#backBtn {
  position: fixed;
  top: 90%;
  left: 10%;
}

// PORTFOLIO PAGE SASS ENDS ------------------------------
